<!DOCTYPE html>
<html>
<head>
    <title>Terms of Service - My Bot</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/community">Community</a>
        </nav>
    </header>
    <main>
        <section class="tos">
            <h1>Terms of Service - Market Mystery</h1>
            <p>By using our bot, you agree to the following terms and conditions:</p>
            <ul>
                <li>You are responsible for your own account and any actions taken on it.</li>
                <li>You will not engage in any fraudulent or illegal activities using the bot.</li>
                <li>We reserve the right to ban or suspend accounts that violate our terms of service.</li>
                <li>We will not be liable for any losses or damages incurred while using the bot.</li>
            </ul>
        </section>
    </main>
    <footer>
		<p class="copyright">&copy; Market Mystery Bot 2021</p>
    </footer>
</body>
</html>
